<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Plant Talk</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>此 App 使用蓝牙连接植物传感器并读取环境数据。</string>
	<key>NSCameraUsageDescription</key>
	<string>此 App 使用相机拍摄植物照片并进行状态分析。</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>此 App 使用麦克风与植物进行实时语音对话。</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>此 App 使用相册中的植物照片进行状态分析和实时对话。</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
</dict>
</plist>
